bin
gen
/obj/
/lib-projects/facebook/bin
/lib-projects/facebook/gen
.gradle/

!.idea/
!.idea/codeInsightSettings.xml
.idea/*
**/.idea/*

build/
**/captures
tinker-base
gradlew
gradlew.bat
local.properties
*.iml
.DS_Store
settings_self.gradle
*.ec
*.pyc
commit_id.txt
repos/
reports/
**/coremodule.txt
*/ajcore*.txt
ajcore*.txt
*.classpath
*.project
org.eclipse.buildship.core.prefs
debug/use_project.txt
debug/use_aar.txt
debug/local_aar_list.txt
debug/profile.txt
submodule.txt
*.swp
